@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Silkscreen&family=Tillana&display=swap');

*{
    font-family: 'Tillana', cursive;
    overflow: hidden;
}

.glow{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.587));
}
.a{
  margin-left:30%;
  margin-top:7%;
  animation: glowww 2s infinite;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.648));
}
@keyframes glowww{
    20%{
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.468));
    }
}

.getting{
    text-align:center;
    align-items: center;
    justify-content: center;
    
  }
  .getbtn{
    animation: glowwww 3s infinite;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.372);
    font-family: 'Tillana', cursive;
    outline: none;
    border-radius: 10px;
    border:none;
    transition: 0.3s all ease-in-out;
      text-shadow: 0px 0px 10px rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  .getbtn:hover{
    background:rgba(255, 255, 255, 0.477);
    color:black;
  
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    border:0.1px solid black;
  }
  @keyframes glowwww{
    40%{
      transform: scale(1.1);
    }
  }
  
.boxx{
    background-color: rgba(0, 0, 0, 0.183);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:250px;
    margin: 150px 500px;
}
.boxx a{
    text-decoration: none;
    color:white;

}
.langbtn{
    padding: 10px 15px 10px 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.372);
    font-family: 'Tillana', cursive;
    width: 170px;
    outline: none;
    border-radius: 10px;
    border:none;
      text-shadow: 0px 0px 10px rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgb(255, 255, 255);
}